@import url('font-awesome.min.css');
@font-face {
    src: url("../fonts/Roboto/Roboto-Light.ttf");
    font-family: "Roboto";
    font-weight: 100;
}
@font-face {
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-family: "Roboto";
    font-weight: 300;
}
@font-face {
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
    font-family: "Roboto";
    font-weight: 700;
}

* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    box-sizing: border-box; 
}


/*media all*/
body {
	font-family: 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fafafa;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    color: #212121;
    -webkit-font-smoothing: antialiased;
}

header {
    position: absolute;
    top:0;
    left:0;
    right:0;
    z-index: 999;
}

main {
    background-color: #FAFAFA;
    color: #212121;
}

footer {
    background-color: #424242;
    color: #FAFAFA;
    padding: 64px 0 48px ;
}
.outro { 
    text-transform: uppercase; 
    text-align: justify;
    font-weight: 700;
}
footer a { color: rgba(255,255,255,.6) }
footer a:hover { color: #fff }
/*FONT*/
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 .5em 0;
    line-height: 1.2;
    font-weight: 100;
}
h1, h2, h3{ color: #2196F3 }
h1 { font-size: 36px }
h2 { font-size: 28px }
h3 { font-size: 28px }
h2 .spe {
    font-size: 54px;
    font-weight: 400;
    color: #1976D2;
    text-align: center;
}

.item_info h2, .item_info h3 { color: #fff }
.item_info h2{font-size: 32px;margin: 0;}
.item_info h3{font-size: 20px;opacity: .6;margin: 0;padding: 8px 0 20px;}

hr {
    height: 1px;
    margin: 2em 0;
    border: 0;
    background: -webkit-linear-gradient(left, transparent, rgba(0,0,0,.1) 10%, rgba(0,0,0,.1) 90%, transparent);
    background: -moz-linear-gradient(left, transparent, rgba(0,0,0,.1) 10%, rgba(0,0,0,.1) 90%, transparent);
    background: -o-linear-gradient(left, transparent, rgba(0,0,0,.1) 10%, rgba(0,0,0,.1) 90%, transparent);
}
footer hr {
    background: -webkit-linear-gradient(left, transparent, rgba(255,255,255,.1) 10%, rgba(255,255,255,.1) 90%, transparent);
    background: -moz-linear-gradient(left, transparent, rgba(255,255,255,.1) 10%, rgba(255,255,255,.1) 90%, transparent);
    background: -o-linear-gradient(left, transparent, rgba(255,255,255,.1) 10%, rgba(255,255,255,.1) 90%, transparent);
}

a {
    color: #2196F3;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear;
}
p {
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    text-rendering: optimizeLegibility;
}
section { padding: 64px 0 }

.section, .item{ padding: 84px 0 }

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.innner{ padding: 20px }

.home-page #hero .button {
    text-shadow: none;
    margin-top: 1em;
    margin-bottom: 0px;
    min-width: 180px;
}

.btn {
    background-color: #2196F3 ;
    border: 0;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    margin: 25px auto 0;
    padding: 0.9em;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s
}
.btn:hover { background-color: #64b5f6; color:#fafafa }

.btn-large { width: 100%; text-transform: uppercase; }

.btn-fill{ color: #fff; background-color: rgba(0,0,0,0.1);}
.btn-fill:hover{ color:#fff; background-color:rgba(0,0,0,0.2) }

.transition, .logo-header, .nav_item {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*
    HEADER
*/
.nav {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0; 
}
.nav::after {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background-image: -webkit-radial-gradient(50% center, circle, rgba(255,255,255,.6) 0, transparent 100%);
    background-image: radial-gradient(50% center, circle, rgba(255,255,255,.6) 0, transparent 100%);
    content: " ";
}
.nav-top { height: 128px }
/*responsive*/
.nav-collapse {
    background-color: #2196F3; /*#fafafa;*/
    height: 86px;
}

.nav_list {
    display: flex;
    justify-content: space-around;
}

.nav-collapse .logo-header, .logo-header-reduce {
    height: 48px;
    width: 48px;
}
.wrapper-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer, .logo-header {
    display: block;
    height: 64px;
    width: 64px;

}

.logo-footer {}
.logo, .nav_item {
    opacity: .6;
    transition: opacity .3s;
}

.nav-bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.nav_item {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.nav-top .nav_item {
    padding: 16px 0;
    font-size: 16px;
}
.nav-bottom .nav_item {
    padding: 4px;
    font-size: 14px;
}
.nav-bottom .nav_item + .nav_item{ margin-right: 4px }
.nav_item:hover { text-decoration: none; color: #fff; }
.nav_item-active, .logo:hover, .nav_item:hover { opacity: 1 }
@media (max-width: 992px){
    /* nav-collapse
    970px
    .nav-top {
        background-color: #2196F3; 
        height: 86px;
    }
    .nav-top .nav_item{
        font-size: 14px;
        padding: 28px 16px
    }
    .nav-top .logo-header, .logo-header-reduce {
        height: 48px;
        width: 48px;
    }
*/
    .nav_list{
        display: none;
    }
    .nav-bottom {
    	justify-content: space-between;
    	flex-direction: row;
    	margin-bottom: 18px;
    }
}
/*
    FOOTER
*/
.share {

}
.link-list{
    display: flex;
    justify-content: space-around;
}
/*
    MAIN
*/
.hero {
    background-color: #2962ff;
    background-image: -webkit-radial-gradient(50% top, circle, #2196F3 0%, transparent 75%), -webkit-radial-gradient(right top, circle, #1565C0 0%, transparent 57%);
    background-image: -moz-radial-gradient(50% top, circle, #2196F3 0%, transparent 75%), -moz-radial-gradient(right top, circle, #1565C0 0%, transparent 57%);
    background-image: radial-gradient(50% top, circle, #2196F3 0%, transparent 75%), radial-gradient(right top, circle, #1565C0 0%, transparent 57%);
    background-size: 100%;
    background-repeat: no-repeat;
    animation: MoveBG 60s ease infinite;
}

.hero_content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    min-height: 512px;
    padding-top: 128px;
}

#hero_background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    color: rgba(0,0,0,.6);
}
.hero h1, .hero h4{ color: #fff }
.hero h1 { font-size: 48px }
.hero h4 { 
    opacity: .6;
    font-size: 24px
}

/*
    Workthrought
*/
.item-teal { background-color: #009688 }
.item-bluelight { background-color: #039BE5 }
.item-amber { background-color: #FFB300 }
.item-red { background-color: #F44336 }
.item-indigo { background-color: #3F51B5 }
.item-bluegrey { background-color: #78909C }

.item_list {}

.item_info {
    color: #fafafa;
    text-align: center;
}
.item_info {
    padding: 2em 0 0;
    margin: 0 auto;
    max-width: 600px;
}

.item_info img {
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    z-index: 990;
    text-align: center;
}

.item_img {
    max-width: 800px;
    max-height: 480px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #fff;
    overflow: hidden;
}

.item_img img{
    height: auto;
    width: 100%;
    border-radius: 8px;
}

/**
 * Link
 */
.link {
    text-transform: uppercase;
    display: block;
    padding: 132px;
    line-height: .75;
    z-index: 990;
    opacity: .6;
    transition: opacity .3s;
}

.link h2, .link_title, .link_surtitle{
    display: block;
    transition: transform ease-in-out .3s;
}
.link h2 {
    text-align: right;
    color: #ffd740;
    font-size: 22px;
}

.link_title {
    text-align: center;
    font-size: 164px;
    white-space: nowrap;
}

.link_surtitle {
    display: block;
    text-align: left;
    font-size: 56px;
}

.link_surligne { color: #2196F3; background-color:#fff }

/* active */
.link-active { opacity: 1 }

.link-active h2 {transform: translate(80px, 15px);}

.link-active .link_surtitle{transform: translate(-80px, -15px);}

.link-active .link_title{ transform: scale(1.25) }
