* { box-sizing: border-box; }

body{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  background-image: url('../img/logo-dark.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #212121;
  background-size: auto;
  box-shadow: inset 0 0 100px rgba(0,0,0,.8);
  overflow: hidden;
  
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  text-align: center;
}

footer { color: rgba(255,255,255,.45) }

a, a:hover { color: #fff; }

.btn-default, .btn-default:hover, .btn-default:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}

.contact-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
.contact + .contact { margin-left: 48px }
.contact {
    padding-bottom: 14px;
    padding-top: 14px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
    transition: .3s;
}
.contact:hover {
  color: #fff;
  text-decoration: none;
  border-bottom-color: rgba(255,255,255,.25);
}
.contact_sub {
    position: absolute;
    display: block;
    margin-top: 16px;

    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.4);
    
    opacity: 0;
    transition: .3s;
}
.contact:hover > .contact_sub{ opacity: 1; transform: translateY(15px) }
.lang-list{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
}
.lang { 
  cursor: pointer;
  text-transform: uppercase;
}
.lang-active{ text-decoration: underline }
.lang + .lang::before {
    display: inline-block;
    height: 12px;
    width: 1px;
    margin-right: 4px;
    background-color: #fff;
    content: ' ';
}