doctype html
html
    head
        title Demo Experience javascript - Johann Hospice 
        link(rel="stylesheet" type="text/css" href="/works/experience_javascript/demo/css/styles.min.css")
        style.
            html,body { height: 100%; margin: 0px; padding: 0px; }
    body
        #experience-javascript
        script(type="application/javascript" src="/works/experience_javascript/demo/js/index.src.js")
