<head>
    <title><%= config.title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="Johann Hospice">
    <link rel="stylesheet" type="text/css" href="css/uikit.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/uikit.min.js"></script>
    <script src="https://getuikit.com/migrate.min.js"></script>
</head>
