include /_includes/_mixins
include /_includes/_cards/_card_work

-var data = public.works._data
-var works= data.posts.sort((w1, w2) => {var a = new Date(w1.dateBegin), b = new Date(w2.dateBegin);return a > b ? -1 : (a < b ? 1 : 0)})

include /_includes/_header

section.uk-section.uk-section-large.uk-section-default
	.uk-container.uk-flex.uk-flex-center
		.uk-width-xxlarge.uk-text-center
			h1.uk-heading-primary.uk-text-primary=data.title 
			p.uk-text-lead.uk-text-muted=data.resume

section.uk-section.uk-section-medium.uk-section-muted.uk-preserve-color
	.uk-container
		div(class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid)
			each work in works
				div
					+card-work(work)
