-var data = public.works._data

section.uk-section.uk-section-large
    div.uk-container
        div.uk-text-center
            h2.uk-heading-primary=data.title 
            p.uk-text-large=data.resume
        ul.uk-subnav.uk-subnav-divider.uk-flex-center#work-grid
            each value in data.type
                li(uk-filter=value)
                    a(href="#")=value
        ul(class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid uk-margin)
            each work in data.posts
                li
                    != partial("_work-card", { work: work })