doctype
html(lang='fr')
	head
		title=title
		meta(charset='utf-8')

		link(rel="icon" type="image/png" href="/assets/images/favicon.png")
		
		link(type="text/css", rel="stylesheet", href='/assets/vendors/uikit/css/uikit.min.css')
		link(type="text/css", rel="stylesheet", href='/assets/vendors/mine/mine.css')
		
		script(src='/assets/vendors/jquery/jquery-3.2.1.min.js')
		script(src='/assets/vendors/uikit/js/uikit.min.js')
		script(src='/assets/vendors/uikit/js/uikit-icons.min.js')
	//-
		script(src='/assets/vendors/turbolinks/turbolinks.min.js')
		
	body
		block body
		script(src='/assets/vendors/mine/mine.js')
		