doctype
html(lang='fr')
    head
        title=title
        meta(charset='utf-8')
        
        link(type="text/css", rel="stylesheet", href='/vendors/uikit/css/uikit.min.css')
        
        script(src='/vendors/jquery/jquery-3.2.1.min.js')
        script(src='/vendors/uikit/js/uikit.min.js')
        script(src='/vendors/uikit/js/uikit-icons.min.js')

        script(src='/vendors/turbolinks/turbolinks.min.js')

    body
        block body