doctype
html(lang='fr')
	head
		title=title
		meta(charset='utf-8')

		link(rel="icon" type="image/png" href="/assets/images/favicon.png")
		
		link(type="text/css", rel="stylesheet", href='/assets/dist/uikit/css/uikit-theme.css')
		
		script(src='/assets/dist/jquery/jquery-3.2.1.min.js')
		script(src='/assets/dist/uikit/js/uikit.min.js')
		script(src='/assets/dist/uikit/js/uikit-icons.min.js')
	//-
		script(src='/assets/dist/turbolinks/turbolinks.min.js')
		
	body
		block body
		script(src='/assets/main.js')
		