//Heading
!= partial("/_partials/_home", {home: public._data.home})

hr.uk-margin-remove#content

include _includes/_header-index

//intro
!= partial("/_partials/_intro", {intro: public._data.intro})

//Education
!= partial("/_partials/_education", {education: public._data.education})

//Professional
!= partial("/_partials/_professional", {professional: public._data.professional})

//Skills
!= partial("/_partials/_skills", {skills: public._data.skills})

//Contact
!= partial("/_partials/_contact", {contact: public._data.contact})


//
	style.
		.links line {
		stroke: #999;
		stroke-opacity: 0.6;
		}

		.nodes circle {
		stroke: #fff;
		stroke-width: 1.5px;
		}

		text {
		font-family: sans-serif;
		font-size: 10px;
		}
	svg#d3skills.uk-width-1-1.uk-height-large(uk-svg)
	script(src="/assets/vendors/d3/d3.min.js")
	script(src="/assets/vendors/me/me.js")
