include /_partials/_home

include /_includes/_header-index

include /_partials/_intro

include /_partials/_education

include /_partials/_professional

include /_partials/_skills

include /_partials/_contact


//
	style.
		.links line {
		stroke: #999;
		stroke-opacity: 0.6;
		}

		.nodes circle {
		stroke: #fff;
		stroke-width: 1.5px;
		}

		text {
		font-family: sans-serif;
		font-size: 10px;
		}
	svg#d3skills.uk-width-1-1.uk-height-large(uk-svg)
	script(src="/assets/vendors/d3/d3.min.js")
	script(src="/assets/vendors/me/me.js")
