include /partials/_home

#content
	include /_includes/_header-index

	include /partials/_intro

	include /partials/_education

	include /partials/_professional

	include /partials/_skills

	include /partials/_contact
	