include _includes/_mixins
-var data = public._data

div.uk-section.uk-section-default(uk-height-viewport="offset-top: true")
	div.uk-container
		h1.uk-heading-hero=data.title
		h2.uk-text-muted=data.subtitle