<% if(service != null) { %>
    <div class="uk-card uk-card-body">
        <div uk-margin>
            <% service.icons
                .forEach(icon => { %>
                <span uk-icon="icon: <%= icon %>; ratio: 4"></span>
            <% }) %>
        </div>
        <h3 class="uk-card-title"><%= service.title %></h3>
        <p><%= service.description %></p>
    </div>
<% } %>
