include /_includes/_mixins
-var contact = public._data.contact

footer.uk-section-secondary
    section.uk-section#contact
        .uk-container.uk-flex-middle.uk-text-center
            .uk-flex.uk-flex-middle.uk-flex-column
                h2.uk-margin-remove Contact
                p(class="uk-width-large@s")  Aut qui voluptas labore commodi nihil deserunt. Quaerat inventore possimus tenetur veritatis.
                .uk-grid-medium(uk-grid)
                    each link, i in contact.contact_links
                        div
                            a.uk-button.uk-button-text(href=link.href)
                                .uk-flex.uk-flex-middle
                                    span.uk-margin-small-right(uk-icon="icon:"+link.icon)
                                    span.uk-text-lowercase=link.title

    .uk-child-width-expand.uk-flex-middle.uk-grid-small(uk-grid)
        div
            hr.uk-margin-remove
        .uk-width-auto
            a(href="/") 
                img.jh-logo(src="/assets/images/logo/logo.svg" alt="johann hospice" uk-svg)
        div
            hr.uk-margin-remove
    .uk-section.uk-section-small
        .uk-container
            .uk-flex.uk-flex-between.uk-flex-middle
                p.uk-text-small.uk-margin-remove
                    | ©2017 
                    a.uk-link-muted(href="/") Johann Hospice
                    |  - Tous droits réservés.
                .uk-flex.uk-flex-bottom
                    .uk-child-width-auto.uk-grid-small(uk-grid)
                        each link in contact.links
                            div
                                a.uk-link-muted(uk-icon="icon:"+link.name href=link.href target="_blank")
                