footer.uk-section.uk-section-small.uk-section-secondary
    .uk-container
        .uk-child-width-1-1(uk-grid)
            div
                p.uk-text-center
                    | © 2016 
                    a.uk-link-muted(href="/") Johann Hospice
                    | . Tous droits réservés
            .uk-flex.uk-flex-center
                a(href="#heading" uk-scroll) 
                    img.jh-logo(src="/assets/images/logo/logo.svg" alt="johann hospice" uk-svg)