include _mixins
header.uk-navbar-container(uk-sticky)
    div.uk-container.uk-container-expand
        nav(uk-navbar)
            div.uk-navbar-left
                a.uk-logo(href="/") logo
                // a.uk-navbar-toggle(uk-navbar-toggle-icon)
            div.uk-navbar-right
                ul.uk-navbar-nav
                    +list(menu.values, menu.names)