include /_includes/_vars
include _mixins

header(uk-sticky="sel-target: .uk-navbar-container")
    nav.uk-navbar-container
        .uk-container.uk-container-large(uk-navbar)
            div.uk-navbar-left
                button.uk-navbar-toggle(class="uk-hidden@s" uk-toggle="target:#offcanvas" uk-navbar-toggle-icon="")
                a.uk-navbar-item.uk-logo(class="uk-visible@s" href="/") 
                    img.jh-logo(src="/assets/images/logo/logo.svg" alt="johann hospice" uk-svg)

            div.uk-navbar-center
                a.uk-navbar-item.uk-logo(class="uk-hidden@s" href="/") 
                    img.jh-logo(src="/assets/images/logo/logo.svg" alt="johann hospice" uk-svg)
                ul.uk-dotnav(class="uk-visible@s" uk-scrollspy-nav="closest: li; scroll: true; offset: 400")
                    li
                        a(href="#intro" uk-scroll="offset:150" uk-tooltip title=public._data.intro.title pos="bottom")
                    li
                        a(href="#cursus" uk-scroll="offset:150" uk-tooltip title="Cursus" pos="bottom")
                    li
                        a(href="#skills" uk-scroll="offset:150" uk-tooltip title="Compétence" pos="bottom")
            div.uk-navbar-right
                ul.uk-navbar-nav(class="uk-visible@s")
                    - var i = 0
                    while i < menu.values.length
                        +item(menu.values[i], menu.names[i])
                        -i++
                    div(class="uk-offcanvas-content")
        hr.uk-margin-remove
    //
        include /_includes/_offcanvas-header.jade