#offcanvas(uk-offcanvas="overlay: false; mode: push")
    .uk-offcanvas-bar.uk-flex.uk-flex-column.uk-text-center
        //button.uk-offcanvas-close.uk-close-large.uk-icon(type="button" uk-close)
        
        a(href="/") 
            img.jh-logo(src="/assets/images/logo/logo.svg" alt="johann hospice" uk-svg)

        ul.uk-nav.uk-nav-primary.uk-nav-center.uk-margin-auto-vertical
            li.uk-parent.uk-active
                a(href="/") Accueil
            //
                ul.uk-nav-sub
                    li
                        a(href="#about") À propos
                    li
                        a(href="#education") Formation
                    li
                        a(href="#professional") Experience professionnelle
                    li
                        a(href="#skills") Compétence
                    li
                        a(href="#contact") Contact
            li
                a(href="/works") Réalisation
                
        div
            .uk-grid-small.uk-child-width-auto.uk-flex-inline(uk-grid)
                div
                    a.uk-icon-button(uk-icon="icon: github" href="https://github.com/johannhospice"  target="_blank")
                div
                    a.uk-icon-button(uk-icon="icon: linkedin" href="https://www.linkedin.com/in/johannhospice"  target="_blank")