include /_includes/_mixins

section.uk-section.uk-section-large.uk-section-default(id=professional.name)
	.uk-container
		.uk-flex.uk-flex-middle.uk-flex-center(class="uk-child-width-1-2@m" uk-grid)
			.uk-flex.uk-flex-center
				.uk-text-center(class="uk-text-left@m")
					+header(professional.title, professional.subtitle, professional.description)
			.uk-flex.uk-flex-center(class="uk-child-width-1-2@s uk-child-width-1-1@m" uk-grid)
				each experience in professional.experiences
					+card-experience(experience)