
<section class="uk-section uk-section-large uk-section-secondary uk-dark" id="contact">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <div class="uk-card uk-text-center">
                    <h2 class="uk-heading-primary">Contact</h2>
                    <div class="uk-grid uk-flex-center">
                        <p class="uk-width-medium-5-6">Lorem ipsum dolor sit amet, consectetuer
                            adipiscing
                            elit. Aenean commodo
                            ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                            montes,
                            nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                            sem.
                            Nulla
                            consequat massa quis enim. Donec pede justo.
                        </p>
                    </div>
                    <div class="uk-grid uk-flex-center">
                        <div class="uk-width-medium-1-2">
                            <ul class="uk-list uk-flex uk-flex-around" >
                                <li>
                                    <a class="uk-button uk-button-default" uk-tooltip="pos: bottom" title="johannhospice" href="skype:johannhospice?add" target="_parent">
                                        <span uk-icon="icon: skype"></span>
                                        <span class="uk-margin-left">skype</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="uk-button uk-button-default" uk-tooltip="pos: bottom" title="johannhospice.dev@gmail.com" href="mailto:johannhospice.dev@gmail.com" target="_parent">
                                        <span uk-icon="icon: mail"></span>
                                        <span class="uk-margin-left">mail</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="uk-button uk-button-default" uk-tooltip="pos: bottom" title="+33781700715" href="tel:+33781700715" target="_parent">
                                       <span uk-icon="icon: phone"></span>
                                       <span class="uk-margin-left">téléphone</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>