<section>
    <section class="uk-section uk-section-large uk-height-viewport uk-background-cover" id="home">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-large-1-2">
                    <div class="uk-margin-large uk-text-left uk-text-uppercase">
                        <h4 class="uk-h1 uk-heading-primary uk-margin-small-bottom uk-margin-large-top">Bonjour, je suis Johann
                        </h4>
                        <h1 class="uk-h2 uk-margin-remove uk-text-muted">Un développeur informatique</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="uk-divider-icon">
    <section class="uk-section uk-section-default" id="resume">
        <div class="uk-container">
            <div class="uk-grid" uk-height-match uk-grid>
                <div class="uk-width-1-1 uk-width-medium-1-2">
                    <div class="uk-margin-large uk-text-left uk-text-uppercase">
                        <h2>Resume</h2>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-width-medium-1-2">
                    <div class="uk-card">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor nihil, quas. Commodi
                            cumque
                            explicabo harum illo laborum nobis optio quidem tempora veniam voluptate? Culpa eos
                            ipsum
                            laborum nisi optio quo.
                        </p>
                        <p class="uk-margin-large-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                        </p>
                        <p class="uk-margin-large-top">Liens</p>
                        <div uk-grid uk-margin>
                            <% site.posts
                                .filter(post => post.layout == 'link')
                                .each(post => {%>
                                <div><%- partial('../post/link', {link: post}, {local: true})%></div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
