<section class="uk-section uk-section-large uk-section-muted" id="services">
    <div class="uk-container  uk-text-center">
        <h2 class="uk-heading-primary">Services</h2>
        <p class="uk-text-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in magna
            blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <ul class="uk-grid-match uk-grid-small uk-child-width-expand@s uk-margin-large-top" uk-grid>
            <% site.posts
                .sort('order', -1)
                .filter(o => o.layout == 'service')
                .each(post => { %>
                <li><%- partial('../post/service', {service: post}, {local: true}) %></li>
            <% })%>
        </ul>
    </div>
</section>