<section class="uk-section uk-section-large uk-section-default" id="works">
    <div class="uk-container uk-text-center">
        <h2 class="uk-heading-primary uk-margin-large-bottom">Réalisations</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dicta, voluptates ut cumque quasi
            porro
            nesciunt mollitia autem harum labore.
        </p>
        <ul class="uk-subnav uk-subnav-divider uk-flex-center" id="work-grid">
            <% for(var i in theme.work_type) { %>
                <li uk-filter="<%= theme.work_type[i] %>"><a href=""><%= theme.work_type[i] %></a></li>
            <% } %>
        </ul>
        <ul class="uk-child-width-1-2@s uk-child-width-1-3@m"
             uk-grid
             uk-margin>
            <% site.posts
                .sort((date1, date2) => {
                    var a = new Date(date1), b = new Date(date2);
                    return a > b ? -1 : (a < b ? 1 : 0);
                })
                .filter(o => o.layout == 'work')
                .each((post) => { %>
                <li><%- partial('../post/work', {work: post}, {local: true}) %></li>
            <% }) %>
         </ul>
    </div>
</section>
