<footer class="uk-section uk-section-secondary uk-dark">
    <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-1-1">
                <hr class="uk-divider-icon">
            </div>
        </div>
        <div uk-grid>
            <div class="uk-width-1-2">
                <p>© 2016 <a href="#home"><%= config.author %></a>. Tous droits réservés.</p>
            </div>
            <div class="uk-width-1-2">
                <ul class="uk-subnav uk-flex-right uk-text-uppercase">
                    <%- partial('tool/menu_li') %>
                </ul>
            </div>
        </div>
    </div>
</footer>