<header>
    <nav class="uk-navbar-container" uk-navbar uk-sticky="{top: '.uk-section', animation: 'uk-animation-slide-top'}">
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="#">
                <img src="" width="30" height="30" title="JH" alt="JH">
            </a>
        </div>
        <div class="uk-navbar-right">
            <div class="uk-visible@s">
                <ul class="uk-navbar-nav uk-text-uppercase">
                    <%- partial('tool/menu_li') %>
                </ul>
            </div>
            <div class="uk-hidden@s">
                <a class="uk-navbar-toggle" uk-toggle="target: #offcanvas" uk-navbar-toggle-icon></a>
            </div>
        </div>
    </nav>
</header>