<div uk-offcanvas="overlay: true" id="offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-default uk-nav-parent-icon">
            <li class="uk-nav-header"><a href="#"><img src="" alt="JH"></a></li>
            <li><a href="#home" uk-scroll="{offset: 0}">Accueil</a></li>
            <li><a href="#about" uk-scroll="{offset: 60}">A propos</a></li>
            <li><a href="#works" uk-scroll="{offset: 60}">Réalisations</a></li>
            <li><a href="#services" uk-scroll="{offset: 60}">Services</a></li>
            <li><a href="#contact" uk-scroll="{offset: 60}">Contact</a></li>
            <li class="uk-nav-divider"></li>
            <li>
                <a href="https://github.com/johannhospice" target="_bank">
                    <span uk-icon="icon: github"></span>
                    <span>GitHub</span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/johannhospice" target="_bank">
                    <span uk-icon="icon: linkedin"></span>
                    <span>Linkedin</span>
                </a>
            </li>
        </ul>
    </div>
</div>