include /_includes/_mixins
-var home = public._data.home

section.uk-background-primary#home
	include /_includes/_header-index
	.uk-inline.uk-width-1-1.uk-light(uk-height-viewport="offset-top: true")
		.uk-flex.uk-flex-column.uk-flex-center.uk-flex-middle.uk-height-1-1

			.uk-text-center.uk-margin-xlarge-bottom.uk-margin-xlarge-top.uk-flex.uk-flex-column.uk-flex-middle
				h1.uk-heading-hero.uk-text-!=home.title
				.uk-margin-small-top(class="uk-width-xlarge@s")
					h2.uk-text-muted!=home.subtitle
				.uk-child-width-auto.uk-margin-top(uk-grid)
					each button in home.buttons
						div
							if button.scroll
								a.uk-button.uk-button-large(class="uk-button-"+button.type href=button.href uk-scroll)=button.text
							else
								a.uk-button.uk-button-large(class="uk-button-"+button.type href=button.href)=button.text
		.uk-position-small.uk-position-bottom-center
			a.uk-icon-button(href="#content" uk-icon="icon:chevron-down;ratio:1.4" uk-scroll)