include /_includes/_mixins
-var intro = public._data.intro

section.uk-section.uk-section-large.uk-section-default
	.uk-container.uk-container-small(id=intro.name)
		h1.uk-h6.uk-text-uppercase=intro.title
		h2.uk-h1.uk-width-xlarge.uk-text-primary.uk-margin-remove-top=intro.subtitle
		.uk-margin-top.uk-column-1-2
			each paragraph in intro.description
				p=paragraph
		hr.uk-divider-small.uk-margin-large-top
		a.uk-margin-top.uk-button.uk-button-primary(role="button" href="/assets/cv-johannhospice.pdf" target="_blank")
			.uk-flex.uk-flex-middle
				+icon("file-edit")
				span.uk-margin-small-left Voir mon cv 