include /_includes/_mixins
-var contact = public._data.contact

section.uk-section.uk-section-large.uk-section-primary(id="contact")
	.uk-container
		div(class="uk-child-width-1-2@m" uk-grid)
			div(class="uk-visible@m")
				.uk-background-default.uk-height-1-1
			div
				+header(contact.title, contact.subtitle, contact.description)
				.uk-grid-small.uk-child-width-auto(uk-grid)
					each label in contact.tags
						div
							span.uk-label=label
				.uk-margin-top
					.uk-grid-small(class="uk-child-width-1-2@s" uk-grid)
						each link in contact.contact_links
							div
								a.uk-button.uk-button-text.uk-text-lowercase(href=link.href)
									span.uk-margin-small-right(uk-icon="icon:"+link.icon)
									span=link.title
				.uk-margin-medium-top
					.uk-child-width-auto(uk-grid)
						each link in contact.links
							div
								a.uk-icon-button(uk-icon="icon:"+link.name+";ratio:1.3" href=link.href target="_blank")