include /_includes/_mixins
-var cursus = public._data.cursus
include /_includes/_cards/_card_experience
include /_includes/_cards/_card_education

-var educations= cursus.educations.sort((w1, w2) => {var a = new Date(w1.dateBegin), b = new Date(w2.dateBegin); return a > b ? -1 : (a < b ? 1 : 0)})

section.uk-section.uk-section-large.uk-section-muted
	.uk-container#education
		.uk-flex.uk-flex-center.uk-flex-middle(uk-grid)
			.uk-width-xlarge.uk-text-center
				+header("Formation", cursus.subtitle, cursus.description)
		.uk-margin-large-top
			div(class="uk-child-width-1-2@s uk-child-width-1-2@m uk-child-width-1-4@l" uk-grid)
				each education in educations
					.uk-flex.uk-flex-center
						+card-education(education)

section.uk-section.uk-section-large.uk-section-default
	.uk-container#profession
		div(class="uk-child-width-1-2@m" uk-grid )
			.uk-flex.uk-flex-column.uk-flex-between
				.uk-flex.uk-flex-center
					.uk-width-xlarge.uk-text-center(class="uk-text-left@m")
						+header("Expérience professionnelle", cursus.subtitle, cursus.description)
				hr.uk-divider-small(class="uk-visible@m")
			div
				.uk-flex-center(class="uk-child-width-1-2@s uk-child-width-1-1@m" uk-grid)
					each experience in cursus.experiences
						.uk-flex.uk-flex-center
							+card-experience(experience)